body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Verdana, Geneva, sans-serif;
}

body {
    /* border: 4px solid green; */
    /* font-family: cursive !important; */
    font-family: Roboto !important;
    padding: 4px;
    color: white;
    background-color: #272727;
    /* max-width: 1915px; */
    padding-top: 40px;
    /* padding-right: 20px; */
    /* padding-top: 20px; */
    scrollbar-color: #5d5d5d #2f2f2f;
}

.center {
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1000px; */
    /* display: block; */
}

.button {
    padding: 10px;
    min-width:200px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    margin: 5px;
}
.button :hover {
    /* margin: 30px; */
    /* min-width:100px; */
    /* cursor: pointer; */
    /* border: 1px solid #c5c5c5; */
    /* margin: 5px; */
    background-color: red;
}

.logo1 {
    width: 50px;
    left: 20px;
    top: 2px;
    position: absolute;
    /* padding-bottom: 30px; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2 {
    /* width: 100px; */
    height: 75px;;
    /* right: 20px; */
    top: -20px;
    position: relative;
    /* padding-bottom: 30px; */
}

.card {
    /* min-height: 190px; */
    cursor: pointer;
    /* border: 1px solid #c5c5c5; */
    margin: 5px;
    background-color: #1e1e1e;
}

.card-chamber {
    /* min-height: 190px; */
    cursor: pointer;
    /* border: 1px solid #c5c5c5; */
    margin: 5px;
    background-color: #1e1e1e;
    min-width: 400px;
    max-width: 800px;
    /* width: 400px; */
}
table {
    background-color: #1e1e1e;
}

.detail-button {
    background-color: #1599ac !important;
    color: white !important;
    min-width: 230px;
}

.detail-button-action {
    border:2px solid #1599ac !important;
    /* background-color: #1599ac !important; */
    color: #1599ac !important;
    min-width: 230px;
}

/* .color-disabled {
    color: #1599ac;
} */

.color-empty {
    color: #3d3d3d;
}
.color-font {
    /* color: #1599ac; */
    /* color: #41aadc; */
    color:white;
}

.color-moniker {
    /* color: #ffd861; */
    color: white;
    /* font-size:28px !important; */
}

.color-voltage {
    color: #adff2f;
}

.color-current {
    /* color: #75e0f0; */
    color: #41aadc;
}

.color-time {
    color: white;
}


.color-zero {
    color: #8a8a8a;
}

.color-input-label {
    color: #1599ac;
}

.detail {
    min-height: 700px;
}


.card-selected {
    /* width: 250px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(253, 251, 251, 0.49); */
    /* text-align: center; */
    border: 3px solid white
}
.chamber-selected {
    /* width: 250px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(253, 251, 251, 0.49); */
    /* text-align: center; */
    border: 2px solid white
}

.clickable {
    cursor: pointer;
}

/* .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #f00;
} */

.pager-button {
    padding-right: 20px;
    cursor: pointer;
    /* border: 0.3px solid #1599ac; */
}

.apexcharts-tooltip {
    /* background: black;
    background-color: #2f2f2f; */
    color: black;
}

.card-menu-options {
    background-color: #2f2f2f !important;
    /* color: #75e0f0 !important; */
}
.card-menu-option-selected {
    /* background-color: #2f2f2f !important; */
    color: #75e0f0 !important;
    background-color: #3d3d3d !important;
    /* color: white !important; */
    border-bottom:5px solid #75e0f0;
}
.card-menu-option-unselected {
    /* background-color: #2f2f2f !important; */
    color: #1599ac !important;
}

.tab-selected {
    /* background-color: #2f2f2f !important; */
    color: #75e0f0 !important;
    background-color: #3d3d3d !important;
    /* color: white !important; */
    border-bottom:5px solid #75e0f0 !important;
}

.filter-selected {
    /* background-color: #2f2f2f !important; */
    /* color: #75e0f0 !important; */
    background-color: #3d3d3d !important;
    border:3px solid white;
    /* color: white !important; */
    /* border-bottom:5px solid #75e0f0; */
    /* border-radius: 5px; */
    /* color: #1599ac; */
    font-size: 32px;
}


.modal-dark {
    border: 1px solid white;
    /* font-family: cursive !important; */
    padding: 4px;
    color: #cecece;
    background-color: #1e1e1e !important;
    max-width: 1400px;
    padding: 20px;
    min-height: 500px;
}
textarea {
    color: #75e0f0;
    background-color: #3d3d3d;
}
input {
    color: #75e0f0;
    background-color: #3d3d3d;
}
input a:hover {
    color: #1599ac;
    background-color: #3d3d3d;
}
::placeholder { /* Edge 12 -18 */
    color: #888888;
}

.table-row-selected {
    background-color: #3d3d3d;
}

.charge {
    background-color: #70ad47;
}
.discharge {
    /* border:1px solid #70ad47; */
    background: repeating-linear-gradient( 90deg, #000 1px, #70ad47 3px);
}
.on-test {
    /* background-color: green; */
    background-color: #048004;
}
.wait {
    /* background-color: green; */
    background-color: purple;
}
.rest {
    /* background-color: green; */
    background-color: rgb(184, 184, 184);
    background: repeating-linear-gradient( 45deg, #000, rgb(184, 184, 184) 25px);
}
.paused {
    /* border:1px solid #e6cc5d; */
    /* background-color: #e6cc5d; */
    background: repeating-linear-gradient( 0deg, #000, #e6cc5d 1px);
}
.error {
    background-color: #ff0000;
}
.chip {
    display: inline-block;
    padding: 0 15px;
    color: black;
    height: 50px;
    /* font-size: 16px; */
    /* line-height: 50px; */
    border-radius: 15px;
    background-color: #636363;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color:rgb(138, 138, 138);
}
th {
    color:#1599ac;
}
/* .apexcharts-menu-open {
    background-color: '';
} */

/* table {
    width: 100%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 990px;
} */
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 85px;
    z-index: 999999;
}
div.sticky-chamber {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 195px;
    /* z-index: 999999; */
}
div.sticky-test {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    z-index: 999999;
    background-color: #1e1e1e;
}
_thead.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 312px;
    z-index: 999999;
    background-color: #1e1e1e;
    /* border-bottom: 3px solid white; */
}
tr.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 195px;
    /* z-index: 999999; */
    /* background-color: #1e1e1e; */
    background-color: #272727;
    /* border-bottom: 3px solid white !important; */
}
tr.sticky-detail {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    /* z-index: 999999; */
    /* background-color: #1e1e1e; */
    background-color: #272727;
    /* border-bottom: 3px solid white !important; */
}
tr.sticky-chamber {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 575px;
    /* z-index: 999999; */
    /* background-color: #1e1e1e; */
    background-color: #272727;
    /* border-bottom: 3px solid white !important; */
}

.w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid #ffffff49 !important;
}
.w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
    background-color: #3a3a3a !important;
}

/* MUST BE AT THE BOTTOM - NOT SURE WHY */
.apexcharts-tooltip {
    background: #000;
    color: white;
}
.apexcharts-menu {
    background-color: #000 !important;
}
.xyz {
    /* MUST BE HERE FOR SOME REASON */
}
