<div class="w3-container w3-padding w3-xlarge">
    <div class="w3-row-padding" style="padding:10px;background-color: #1e1e1e;">
        <!-- <hr /> -->
        <div id="data-files" class="w3-col s12 w3-large" style="display:block;_max-height:700px;_overflow-y:scroll;">
            <table id="data-files-table" class="w3-table w3-bordered w3-large w3-hoverable" style="_display:none;">
                <tr class="w3-xlarge">
                    <th><i class="fa fa-square-o"></i></th>
                    <th></th>
                    <th><i class="fa fa-filter"></i> Filename</th>
                    <!-- <th><i class="fa fa-filter"></i> Battery</th> -->
                    <th><i class="fa fa-filter"></i> Project</th>
                    <th><i class="fa fa-filter"></i> Test Procedure</th>
                    <th><i class="fa fa-filter"></i> Battery Type</th>
                    <th><i class="fa fa-filter"></i> Channel</th>
                    <th><i class="fa fa-filter"></i> Chamber</th>
                    <th><i class="fa fa-filter"></i> Start Date</th>
                    <th><i class="fa fa-filter"></i> End Date</th>
                </tr>
                <tr w3-repeat="files">
                    <td onclick="click_data_file_row(this)">{{check}}</td>
                    <td>{{badge}}</td>
                    <td>{{name}}</td>
                    <!-- <td>{{battery}}</td> -->
                    <td>{{project}}</td>
                    <td>{{test_procedure}}</td>
                    <td>{{battery_type}}</td>
                    <td>{{channel}}</td>
                    <td>{{chamber}}</td>
                    <td>{{datatime}}</td>
                    <td>{{datatime}}</td>
                </tr>
            </table>
            <!-- <div id="data-files-tiles" class="w3-center" style="display:none;flex-direction:row;flex-wrap:wrap;">
                <div w3-repeat="files" class="w3-margin"
                    style="width:400px;_height:400px;border:0px solid;padding:20px;">

                    <span class="w3-xlarge w3-left" style="">{{name}}</span>
                    {{badge}}
                    <img src="./assets/data-file-2.png" style="width:350px;height:100px;margin-top:10px;" />
                    <img src="./assets/data-file-3.png" style="width:350px;height:100px;" />
                    <img src="./assets/data-file-4.png" style="width:350px;height:100px;" />
                    <span style="display:block">
                        <div class="w3-medium w3-left"><span class="color-zero">Test Procedure:</span> 19d C/2 Charge -
                            Discharge (6)</div>
                        <br />
                        <div class="w3-medium w3-left"><span class="color-zero" style="padding-right: 19px;">Battery
                                Type:</span> TXW-MI</div>
                        <br />
                        <div class="w3-medium w3-left"><span class="color-zero"
                                style="padding-right: 54px;">Project:</span> XYZ-10-321</div>
                        <br />
                        <div class="w3-medium w3-left"><span class="color-zero"
                                style="padding-right: 19px;">Start:</span> 10-Jun-24</div>
                        <div class="w3-medium w3-right"><span class="color-zero"
                                style="padding-right: 19px;">End:</span> 25-Aug-24</div>
                    </span>
                </div>
            </div> -->
            <div id="data-files-compare" class="" style="display:none;justify-content:space-around;">
                <div style="max-height:850px;overflow-y:scroll;min-width:300px;">
                    <table class="w3-table w3-bordered w3-large w3-hoverable" style="">
                        <tr class="w3-xlarge">
                            <th width="50"><i class="fa fa-square-o"></i></th>
                            <th style="width:200px;"><i class="fa fa-filter"></i> Filename</th>
                        </tr>
                        <tr w3-repeat="files">
                            <td onclick="click_data_file_row(this)">{{check}}</td>
                            <td>{{name}}</td>
                        </tr>
                    </table>
                </div>
                <div id="_data-files-tiles" class="w3-center"
                    style="padding-left:30px;display:flex;flex-direction:row;flex-wrap:wrap;">
                    <div w3-repeat="files" id="data-file-tile-{{name}}" class="w3-margin"
                        style="width:400px;height:440px;border:1px solid #3d3d3d;padding:20px;background-color:#1e1e1e;">

                        <!-- <i class="fa fa-square-o w3-left w3-xlarge" onclick="click_data_file_card(this)"></i> -->
                        <span class="w3-xlarge w3-left" style=""><i class="fa fa-check-square-o color-current"></i>
                            {{name}}</span>
                        {{badge}}
                        <!-- <img src="./assets/data-file-2.png" style="width:350px;height:100px;margin-top:10px;" />
                        <img src="./assets/data-file-3.png" style="width:350px;height:100px;" />
                        <img src="./assets/data-file-4.png" style="width:350px;height:100px;" /> -->
                        {{image}}
                        <span style="display:block">
                            <div class="w3-medium w3-left"><span class="color-zero">Test Procedure:</span> 19d C/2
                                Charge - Discharge (6)</div>
                            <br />
                            <div class="w3-medium w3-left"><span class="color-zero" style="padding-right: 19px;">Battery
                                    Type:</span> TXW-MI</div>
                            <br />
                            <div class="w3-medium w3-left"><span class="color-zero"
                                    style="padding-right: 54px;">Project:</span> XYZ-10-321</div>
                            <br />
                            <div class="w3-medium w3-left"><span class="color-zero"
                                    style="padding-right: 10px;">Start:</span> 10-Jun-24</div>
                            <div class="w3-medium w3-right"><span class="color-zero"
                                    style="padding-right: 10px;">End:</span> 25-Aug-24</div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="sticky-result-preview">
                <div class="w3-xlarge" style="padding:15px;border-bottom:1px solid;">
                    <span class="" style="">Summary:<span class="color-zero"></span></span>
                    <span class="color-current" style="padding-left:70px;"><span class="color-zero">Projects: </span>
                        3</span>
                    <span class="color-current" style="padding-left:70px;"><span class="color-zero">Battery Types:
                        </span> 2</span>
                    <span class="color-current" style="padding-left:70px;"><span class="color-zero">Test Procedures:
                        </span> 1</span>
                    <!-- <span class="w3-right w3-large clickable" style="padding-top:5px;_padding-right:24px;"><i
                            class="fa fa-circle-o color-current w3-xlarge"></i> Compare</span> -->
                    <!-- <span class="w3-right w3-large clickable" style="padding-top:5px;padding-right:24px;"><i
                            class="fa fa-check-circle-o color-current w3-xlarge"></i> Preview</span> -->
                    <span class="w3-right w3-large clickable" style="padding-top:5px;padding-right:24px;"><i
                            class="fa fa-file-archive-o"></i> Export</span>
                    <span class="w3-right w3-large clickable" style="padding-top:5px;padding-right:24px;"
                        onclick="window.location.href='./lab-management/#analysis'">
                        <i class="fa fa-external-link"></i> Analysis</span>
                    <span class="w3-right w3-large clickable" style="padding-top:5px;padding-right:24px;"
                        onclick="document.getElementById('modal-data-files-compare').style.display = 'block'">
                        <i class="fa fa-files-o"></i> View Files</span>
                </div>
                <div class="" style="display:flex;flex-direction:row;justify-content:flex-start;overflow-x:auto;">
                    <span w3-repeat="files" id="data-file-tile-{{name}}-2" class="w3-center"
                        style="margin:24px 24px 24px 0px;padding-top:20px;background-color:black;_background-color:#1e1e1e;">
                        {{name}}
                        <br />
                        {{image2}}
                        <!-- <div id="data-result-chart" height="300"></div> -->
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- MODAL SCAN BATTERY QR CODES -->
<div id="modal-data-files-compare" class="w3-modal w3-xlarge" onmousewheel="return false;"
    style="display:none;z-index: 9999999999;background-color: rgba(0,0,0,0.65);">
    <div class="w3-modal-content modal-dark" style="width:90%;min-height:800px;">
        <div class="w3-container w3-padding">
            <div class="w3-padding">
                <h3 class="color-time">Selected Files&nbsp;&nbsp;&nbsp;
                    <span class="w3-large color-zero"><!--|&nbsp;&nbsp;&nbsp;overlay of file traces aligned by cycle
                        number--></span>
                    <i class="fa fa-close w3-xlarge w3-right clickable"
                        onclick="document.getElementById('modal-data-files-compare').style.display='none'"></i>
                </h3>
                <hr />
                <div id="chart_0_title" class="w3-left" style=""><span id="chart_0_title_y">Voltage</span> over <span
                        id="chart_0_title_x">Run Time</span></div>

                <!-- <div class="w3-right" style="padding-left:40px;"><span class="color-zero"></span><i
                        class="fa fa-calendar"></i></div> -->

                <span class="w3-dropdown-hover w3-right" style="padding-left:40px;">
                    <span class=""><span class="color-zero">x:</span> <span id="chart_0_x">Run Time</span> </span><i
                        class="fa fa-caret-down" style="padding-left:10px;"></i>
                    <div class=" w3-dropdown-content w3-bar-block w3-border w3-large"
                        style="right:0;width:125px;min-width:250px;background-color:#2f2f2f;color:white;">
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(0, 'rt', null, this.innerText)">Run
                            Time <span class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, 'v', null, this.innerText)">Voltage <span
                                class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, 'i', null, this.innerText)">Current <span
                                class="color-zero">(mA)</span></a>
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(0, 'p', null, this.innerText)">Power
                            <span class="color-zero">(W)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, 'c', null, this.innerText)">Capacity <span
                                class="color-zero">(Ah)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, 'e', null, this.innerText)">Energy <span
                                class="color-zero">(Wh)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, 't', null, this.innerText)">Temperature <span
                                class="color-zero">(°C)</span></a>
                    </div>
                </span>

                <span class="w3-dropdown-hover w3-right" style="padding-left:40px;">
                    <span class=""><span class="color-zero">y:</span> <span id="chart_0_y">Voltage</span> </span><i
                        class="fa fa-caret-down" style="padding-left:10px;"></i>
                    <div class=" w3-dropdown-content w3-bar-block w3-border w3-large"
                        style="right:0;width:125px;min-width:250px;background-color:#2f2f2f;color:white;">
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(0, null, 'rt', this.innerText)">Run
                            Time <span class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'v', this.innerText)">Voltage <span
                                class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'i', this.innerText)">Current <span
                                class="color-zero">(mA)</span></a>
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(0, null, 'p', this.innerText)">Power
                            <span class="color-zero">(W)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'c', this.innerText)">Capacity <span
                                class="color-zero">(Ah)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'e', this.innerText)">Energy <span
                                class="color-zero">(Wh)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 't', this.innerText)">Temperature <span
                                class="color-zero">(°C)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'dVdt', this.innerText)">dVdt <span
                                class="color-zero">(V/h)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(0, null, 'dVdt', this.innerText)">dIdt <span
                                class="color-zero">(V/h)</span></a>
                    </div>
                </span>

                <br />
                <div id="data-result-chart" style="padding-bottom:30px;"></div>

                <div class="w3-left" style=""><span id="chart_1_title_y">Capacity</span> over <span
                        id="chart_1_title_x">Run Time</span></div>

                <!-- <div class="w3-right" style="padding-left:40px;"><span class="color-zero"></span><i
                        class="fa fa-calendar"></i></div> -->

                <span class="w3-dropdown-hover w3-right" style="padding-left:40px;">
                    <span class=""><span class="color-zero">x:</span> <span id="chart_1_x">Run Time</span> </span><i
                        class="fa fa-caret-down" style="padding-left:10px;"></i>
                    <div class=" w3-dropdown-content w3-bar-block w3-border w3-large"
                        style="right:0;width:125px;min-width:250px;background-color:#2f2f2f;color:white;">
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(1, 'rt', null, this.innerText)">Run
                            Time <span class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, 'v', null, this.innerText)">Voltage <span
                                class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, 'i', null, this.innerText)">Current <span
                                class="color-zero">(mA)</span></a>
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(1, 'p', null, this.innerText)">Power
                            <span class="color-zero">(W)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, 'c', null, this.innerText)">Capacity <span
                                class="color-zero">(Ah)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, 'e', null, this.innerText)">Energy <span
                                class="color-zero">(Wh)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, 't', null, this.innerText)">Temperature <span
                                class="color-zero">(°C)</span></a>
                    </div>
                </span>

                <span class="w3-dropdown-hover w3-right" style="padding-left:40px;">
                    <span class=""><span class="color-zero">y:</span> <span id="chart_1_y">Capacity</span> </span><i
                        class="fa fa-caret-down" style="padding-left:10px;"></i>
                    <div class=" w3-dropdown-content w3-bar-block w3-border w3-large"
                        style="right:0;width:125px;min-width:250px;background-color:#2f2f2f;color:white;">
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(1, null, 'rt', this.innerText)">Run
                            Time <span class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'v', this.innerText)">Voltage <span
                                class="color-zero"></span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'i', this.innerText)">Current <span
                                class="color-zero">(mA)</span></a>
                        <a id="" class="w3-bar-item w3-button" onclick="changeField(1, null, 'p', this.innerText)">Power
                            <span class="color-zero">(W)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'c', this.innerText)">Capacity <span
                                class="color-zero">(Ah)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'e', this.innerText)">Energy <span
                                class="color-zero">(Wh)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 't', this.innerText)">Temperature <span
                                class="color-zero">(°C)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'dVdt', this.innerText)">dVdt <span
                                class="color-zero">(V/h)</span></a>
                        <a id="" class="w3-bar-item w3-button"
                            onclick="changeField(1, null, 'dVdt', this.innerText)">dIdt <span
                                class="color-zero">(V/h)</span></a>
                    </div>
                </span>

                <br />
                <div id="data-result-chart-i" style="padding-bottom:30px;"></div>
            </div>
        </div>
        <br />
    </div>
</div>


<!-- <div class="w3-container w3-padding w3-xlarge">
    <div class="w3-row-padding" style="padding:25px;padding-bottom:60px;background-color: #1e1e1e;">
        <ul>
            General
            <ul>
                <li>Search / Filter</li>
            </ul>
            <br />
            Export
            <ul>
                <li>Battery Data Files (option to preview)</li>
                <li>Data Files (option to preview a basic chart)</li>
            </ul>
            <br />
        </ul>

        <br />
    </div>
</div> -->