<div id="mySidebar" class="noPrint w3-sidebar w3-bar-block _w3-border w3-center w3-xlarge"
    style="z-index:9999999;display:none;scrollbar-color:#5d5d5d #272727;width:200px;color:white;background-color: #272727;border:1px solid #5d5d5d;top:80px;font-size:28px;padding-bottom: 125px;">

    <div id="subitem-runtime" onclick="menuSelect('runtime')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="">
            <i class="fa fa-television" aria-hidden="true"></i>
            <br />
            <span class="translate">View</span></a>
    </div>

    <div id="subitem-batch" onclick="menuSelect('batch')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style=""><i class="fa fa-power-off" aria-hidden="true"></i><br /><span
                class="translate">Control</span></a>
    </div>

    <div id="subitem-configuration" onclick="menuSelect('configuration')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i><br /><span
                class="translate">Tests</span></a>
    </div>

    <div id="subitem-configuration" onclick="menuSelect('configuration')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-battery-empty" aria-hidden="true"></i><br /><span
                class="translate">Batteries</span></a>
    </div>

    <div id="subitem-configuration" onclick="menuSelect('configuration')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-random" aria-hidden="true"></i><br /><span
                class="translate">I/O</span></a>
    </div>

    <div id="subitem-configuration" onclick="menuSelect('configuration')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i><br /><span
                class="translate">Setup</span></a>
    </div>

    <!-- <div id="subitem-configuration" onclick="window.location.hash = '#configuration'" class="clickable"
            style="border:1px solid #5d5d5d;;padding:30px;">
            <a class="" style="" onclick=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i><br /><span
                    class="translate">Setup</span></a>
        </div> -->

    <div id="subitem-transfer" onclick="menuSelect('transfer')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-database" aria-hidden="true"></i><br /><span
                class="translate">Data</span></a>
    </div>

    <div id="subitem-system" onclick="menuSelect('system')" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-cog" aria-hidden="true"></i><br /><span
                class="translate">System</span></a>
    </div>

    <div id="subitem-help" onclick="window.location.hash = '#contextual-help'" class="clickable"
        style="border:1px solid #5d5d5d;;padding:15px;">
        <a class="" style="" onclick=""><i class="fa fa-question-circle" aria-hidden="true"></i><br /><span
                class="translate">Help</span></a>
    </div>
</div>